@inherits LayoutComponentBase

<div class="page">
    <NavMenu />

    <main>
        @* Add custom class 'content-container' alongside 'container' *@
        <div class="container content-container"> 
            <article class="content pt-3"> 
                @Body
            </article>
        </div>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>